/*TABLE OF CONTENTS*/
/*--CSS RESET--*/
/*--LAYOUT--*/
/*--FONTS AND COLORS--*/

/*--CSS RESET--*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--LAYOUT--*/
body {
	display: grid;
	grid-template-areas: "topNav topNav"
						 "sideNav cards"
						 "btmNav btmNav";
	grid-template-columns: 300px auto;
	grid-template-rows: 13vh auto 8vh;
}
header {
	grid-area: topNav;
}
.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	* {
		padding: 1em;
	}
	.menu-icon {
		visibility: hidden;
	}	
}
.side-nav {
	grid-area: sideNav;
}
.project-container {
	padding: 2em 1em 1em 2em;

	.project-list {

		* {
			margin: 0.3em;
			padding: 0.4em;
		}
	}

	.add-project {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		padding: 0;
		margin-top: 1.5em;

		.plus-sign {
			display: flex;
			align-self: center;
			justify-self: center;
			margin: 0;
			padding-right: 0.2em;
		}
		.new-project {
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0;
			padding-left: 0.2em;
		}
	}
}
.card-container {
	grid-area: cards;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	padding: 2em 0 2em 0;

	.active-project {
		height: fit-content;
	}
}
.card {
	height: fit-content;
	width: 100%;
	margin: 1em 2em;
	display: grid;
	grid-template-areas: "left top right"
						 "left btm right";
	grid-template-columns: 150px auto 100px;
	grid-template-rows: auto;
}
	.card-left {
		grid-area: left;
		display: grid;
		flex-flow: column wrap;
		align-content: stretch;

		.status-choice {
			text-align: center;
			padding: 0.5em 1em;
			margin: 1px 0;
			cursor: pointer;
		}
	}
	.card-right {
		grid-area: right;
		display: flex;
		flex-flow: column wrap;
		align-content: center;
		justify-content: center;

		img {
			width: 1.8em;
			padding: 1.2em 1em;

		}
	}
	.card-btm {
		grid-area: btm;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0.5em 1em;

		* {
			padding: 0.5em 1em;
			margin: 0em 0.5em;
		}
	}
	.card-top {
		grid-area: top;
		padding: 0.5em 1em;
	}
footer {
	grid-area: btmNav;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		padding-left: 0.5em;
	}
}

@media only screen and (max-width: 900px) {
	body {
		display: flex;
		flex-flow: column wrap;
	}
	.side-nav {
		visibility: hidden;
		height: 0px;
		width: 0px;
	}
	.top-nav {
		justify-content: center;
		.menu-icon {
			visibility: visible;
		}	
	}
	.card {
		grid-template-columns: 125px auto 50px;
	}
}


/*--FONTS AND COLORS--*/
$font-stack: 'Open Sans', Arial, Helvetica, sans-serif;;
$color-light: #f4f4f4;
$color-bg-dark: #4c12a1;
$color-neutral: #E5E5E5;
$color-todo: rgb(250, 136, 108);
$color-progress: rgb(240, 194, 45);
$color-review: rgb(86, 216, 228);
$color-complete: rgb(137, 206, 91);
$color-text-dark: #213038;


body {
    font-family: $font-stack;
    color: $color-text-dark;    
    background-color: $color-light;
	line-height: 1.6;
}

.top-nav {
	background-color: $color-bg-dark;
	color: $color-light;
	.app-name {
		font-size: 2em;
		font-weight: 600;
	}
	.menu-icon {
		height: 2em;
	}
}
.active-project {
	font-size: 1.6em;
	font-weight: 900;
}
.card-container {
	background-color: $color-light;
}
.card {
	border: 2px solid $color-todo;
	border-radius: 10px;

	.card-top {
		border-left: 2px solid $color-neutral;
		border-right: 2px solid $color-neutral;
	}
	.card-btm {
		border-left: 2px solid $color-neutral;
		border-right: 2px solid $color-neutral;

		.card-tag--blocker {
			border: 1px solid red;
			border-radius: 5%;
		}
		.card-tag--dependent {
			border: 1px solid green;
			border-radius: 5%;
		}
		.card-tag--independent {
			border: 1px solid blue;
			border-radius: 5%;
		}
	}

	.todo--unchecked {
		border-bottom: 2px solid $color-todo;
	}
	.progress--unchecked {
		border-bottom: 2px solid $color-progress;
		border-top: 2px solid $color-progress;
	}
	.review--unchecked {
		border-bottom: 2px solid $color-review;
		border-top: 2px solid $color-review;
	}
	.completed--unchecked {
		border-top: 2px solid $color-complete;
	}

	.todo--unchecked:hover {
		background-color: rgba($color-todo, 0.3);
	}
	.progress--unchecked:hover {
		background-color: rgba($color-progress, 0.3);
	}
	.review--unchecked:hover {
		background-color: rgba($color-review, 0.3);
	}
	.completed--unchecked:hover {
		background-color: rgba($color-complete, 0.3);
	}

}

.side-nav {
	background-color: $color-neutral;
	color: $color-text-dark;

	.project-list {
		font-size: 1.2em;

		.project-selector:hover, .project-selector:active {
			background-color: rgba($color-light, 0.6);
			border-radius: 5px;
			cursor: pointer;
		}

		.project--selected {
			font-weight: bold;
		}
	}
	.add-project {
		color: $color-text-dark;
		background-color: rgba($color-light, 0.7);
		border-radius: 5%;
		font-family: $font-stack;
		font-size: 1.1em;

		.plus-sign {
			font-size: 1.3em;
		}
	}
	.add-project:hover {
		background-color: $color-light;
		border-radius: 5px;
		font-family: $font-stack;
		cursor: pointer;
		color: $color-bg-dark;

		.plus-sign {
			font-weight: bold;
		}
	}
}

footer {
	background-color: $color-bg-dark;
	color: $color-light;

	.github-link:link, .github-link:visited {
		color: $color-light;
		text-decoration: none;
	}
	.github-link:hover, .github-link:active {
		color: $color-light;
		text-decoration: underline;
	}
}