/*TABLE OF CONTENTS*/
/*--CSS RESET--*/
/*--LAYOUT--*/
/*--FONTS AND COLORS--*/

/*--CSS RESET--*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--LAYOUT--*/
body {
	display: flex;
	flex-flow: row wrap;
}
header {
	order: 1;
	flex-basis: 100%;
	display: flex;
	height: 8vh;
	border: 1px solid blue;
}
.top-nav {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.side-nav {
	order: 2;
	flex-basis: 18%;
	height: 85vh;
	border: 1px solid red;
}
.project-container {
	padding: 2em 0 0 2em;
}
.card-container {
	order: 3;
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 2em 0 2em 0;
}
.card {
	height: fit-content;
	width: 100%;
	margin: 0em 2em;
	display: grid;
	grid-template-areas: "left top right"
						 "left btm right";
	grid-template-columns: 150px auto 150px;
	grid-template-rows: auto;
}
	.card-left {
		grid-area: left;
		display: flex;
		flex-flow: column wrap;
		align-content: stretch;

		.status-choice {
			text-align: center;
			padding: 0.5em 1em;
			margin: 1px 0;
		}
	}
	.card-right {
		grid-area: right;
		display: flex;
		flex-flow: column wrap;
		align-content: center;
		justify-content: center;

		img {
			width: 1.8em;
			padding: 1.2em 1em;
			border: 1px solid red;

		}
	}
	.card-btm {
		grid-area: btm;
	}
	.card-top {
		grid-area: top;
	}
footer {
	order: 4;
	flex-basis: 100%;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid purple;
}

/*--FONTS AND COLORS--*/
$font-stack: 'Open Sans', Arial, Helvetica, sans-serif;;
$color-light: #f4f4f4;
$color-bg-dark: #4c12a1;
$color-neutral: rgb(179, 179, 179);
$color-todo: rgb(250, 136, 108);
$color-progress: rgb(240, 194, 45);
$color-review: rgb(86, 216, 228);
$color-complete: rgb(137, 206, 91);
$color-text-dark: #213038;


body {
    font-family: $font-stack;
    color: $color-text-dark;    
    background-color: $color-light;
	line-height: 1.6;
}

.top-nav {
	background-color: $color-bg-dark;
	color: $color-light;
	.app-name {
		font-size: 2em;
	}
}
.card {
	border: 2px solid $color-todo;
	border-radius: 10px;

	.card-top {
		border-left: 2px solid $color-neutral;
		border-right: 2px solid $color-neutral;
	}
	.card-btm {
		border-left: 2px solid $color-neutral;
		border-right: 2px solid $color-neutral;
	}

	.todo--unchecked {
		border-bottom: 2px solid $color-todo;
	}
	.progress--unchecked {
		border-bottom: 2px solid $color-progress;
		border-top: 2px solid $color-progress;
	}
	.review--unchecked {
		border-bottom: 2px solid $color-review;
		border-top: 2px solid $color-review;
	}
	.completed--unchecked {
		border-top: 2px solid $color-complete;
	}

}

.side-nav {
	background-color: rgba($color-bg-dark, 0.9);
	color: $color-light;
}