/*TABLE OF CONTENTS*/
/*--CSS RESET--*/
/*--LAYOUT--*/
/*--FONTS AND COLORS--*/

/*--CSS RESET--*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--LAYOUT--*/
body {
	display: flex;
	flex-flow: row wrap;
}
header {
	order: 1;
	flex-basis: 100%;
	display: flex;
	height: 8vh;
	border: 1px solid blue;
}
.top-nav {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.side-nav {
	order: 2;
	flex-basis: 18%;
	height: 85vh;
	border: 1px solid red;
}
.project-container {
	padding: 2em 0 0 2em;
}
.card-container {
	order: 3;
	flex-grow: 1;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 2em 0 2em 0;
	border: 1px solid green;
}
.card {
	height: fit-content;
	width: 100%;
	margin: 0em 2em;
	display: grid;
	grid-template-areas: "left top right"
						 "left btm right";
	grid-template-columns: 15% auto 15%;
	grid-template-rows: auto;
	border: 1px solid purple;
}
	.card-left {
		grid-area: left;
		border: 1px solid green;
	}
	.card-right {
		grid-area: right;
		border: 1px solid green;
	}
	.card-btm {
		grid-area: btm;
		border: 1px solid green;
	}
	.card-top {
		grid-area: top;
		border: 1px solid green;
	}
footer {
	order: 4;
	flex-basis: 100%;
	height: 7vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid purple;
}

/*--FONTS AND COLORS--*/
$font-stack: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
$color-light: #f4f4f4;
$color-bg-dark: #4c12a1;
$color-text-dark: #213038;


body {
    font-family: $font-stack;
    color: $color-text-dark;    
    background-color: $color-light;
	line-height: 1.6;
}

.top-nav {
	background-color: $color-bg-dark;
	color: $color-light;
	.app-name {
		font-size: 2em;
	}
}

.side-nav {
	background-color: rgba($color-bg-dark, 0.9);
	color: $color-light;
}